* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { /*selector1, selector2 {minden felsorolt selectorra érvényes}*/
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

nav a { /*minden <a> TAG ami egy <nav> TAGen belül található*/
    text-decoration: none;
}

p {
    margin: 1em 0 .5em;
}

img {
    max-width: 100%;
}
/*űrlap elemek*/
label, label > span {
    display:block;
    margin:5px 0;
}
input, textarea {
    width:100%;
    background: gainsboro;
}
fieldset, input, textarea {
    border:none;/*default keretek letiltása*/
    outline: none;
    padding:5px;
}

/*Címek*/
h1, h2, h3 {
    margin: .5em 0;
    padding: .5em 0;
    font-family: Helvetica, Arial, sans-serif;
    color: firebrick;
}

header, footer {
    background: gainsboro;
}

header {
    padding: 0 15px;
}

main {
    padding: 0 15px;
}

section {
    padding: 30px 0 15px;
}

[id^="tartalom-"] > figure > img {/*[attribute(^|*~)="value"]*/ /* > - közvetlen hordozó selector*/
    margin: 0 -15px;
    max-width: calc(100% + 30px);
}


footer {
    text-align: center;
    padding: 15px 0;
}

@media screen and (min-width:960px){
    .container {
        width:960px;
        margin:0 auto;
    }
}
