* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;/*font fallback*/
    /*background-color:#eea;
    background-image: url('https://picsum.photos/800/800');
    background-position: center top;
    background-repeat: no-repeat;*/
    background:#eea url('https://picsum.photos/800/800') center top no-repeat;
    background-size: cover;
}

.container {
    border:deeppink 5px groove;
}

.container > div {
    background-color: #fff;
    border:1px solid cornflowerblue;
    color:orange;
    font-size:1.5em;
    padding: 10px;
}

.container > div:nth-child(1) {
    background-color: #87bfa5;
}
.container > div:nth-child(2) {
    background-color: #ee5f5a;
}
.container > div:nth-child(3) {
    background-color: #5a8a8a;
}
