/*Fotnkészlet import*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@300;900&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Roboto',sans-serif;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    font-weight:300;
}
h1,h2 {
    font-family:'Alfa Slab One', cursive, serif;
}
footer {
    font-style:italic;
}
/*social*/
.social {
    margin:30px auto;
    display:flex;
    justify-content:center;
}
.social > li {
    margin:0 15px;
}
