/*Fontok betöltése*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;800&display=swap');
/*CSS változók felvétele*/
:root {
    --lightGrey: #f7f7f7;
    --darkTextColor: #212529;
    --baseTextColor: #818181;
    --orange: #ffb32f;
    --lightColor: #fff;
    --mainTitleFont: 'Poppins',sans-serif;
    --bodyFont: 'Open Sans',sans-serif;
    --darkBlue: #1e283c;
}



/*mobile first!!!!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: var(--bodyFont);
    color: var(--baseTextColor);
}

ul, ol {
    list-style: none;
}
h1,h2,h3 {
    font-family: var(--mainTitleFont);
    color: var(--darkTextColor);
}
a {
    text-decoration: none;
}
p {
    line-height:1.5em;
    color: var(--baseTextColor);
    margin: 1em 0;
}
section {
    /*background: deeppink;*/
    min-height:400px;
}
main > section:not(#skill),
#skill > .container {/*távtartások*/
    padding-bottom: 60px;
}
/*általános input elem formázások*/
input,textarea {
    width:100%;
    padding:5px 10px;
    border:none;
    outline:none;
    border-bottom: 1px solid var(--lightGrey);
    font-family: var(--bodyFont);
    transition: all 500ms ease-in-out;
}

input:focus, textarea:focus {
    border-bottom-color:#000;
}
button {
    background:none;
    border:none;
    justify-self:start;
}
/*gombok*/
.btn {
    text-transform:uppercase;
    padding:10px 20px;
    text-decoration:none;
    border:none;
    background:var(--lightGrey);
    outline:none;
    color:var(--darkTextColor);
    font-size:0.8em;
    font-weight:bold;
    cursor:pointer;
    transition: all 500ms ease-in-out;
}
.btn-primary {
    color:var(--lightColor);
    background:var(--orange);
}
.btn-primary:hover {
    background: var(--darkBlue);
}
/*reszponzív konténerek*/
.container {
    /*background: khaki;*/
    padding: 0 15px;
}
.flex-container {
    display:flex;
    flex-flow:column nowrap;
}
.flex-container {
    gap:15px;/*edge-en nem megy :(*/
}

.flex-container > .box {
    flex:1;
}
.grid-container {
    display: grid;
    grid-gap: 15px;
}
.main-header {
    width:100%;
    background: transparent;
    border-bottom: 1px solid #ccc;
    /*vetett árnyék
    box-shadow: x-offset y-offset size color*/
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    position: absolute;
    z-index: 100;
    color:var(--lightColor);
}

.logo {
    /*background: lime;*/
    flex:1;/*grow shrink basis | 1 0 auto*/
}
.logo img {
    width:160px;
    margin:5px 0;
}
.main-menu {
    display:none;
}
.main-menu > li {
    /*background: pink;*/
}

.main-menu > li > a {
    font-size:0.9em;
    text-transform: uppercase;
    margin-left:15px;
    color: var(--lightColor);/*változó használata*/
    transition:all 450ms ease-in-out;
    padding-bottom:5px;
    border-bottom:2px solid transparent;
}
.main-menu > li > a:hover {
    color: var(--orange) !important;
    border-bottom-color: var(--orange);
}
/*hamburger ikon*/
.menu-toggle {
    position:absolute;
    right:15px;
    top:15px;
    font-size:1.5em;
    /*button miatt*/
    outline:none !important;
    background-color:transparent;
    color: var(--lightColor);
    border:none;
}
.menu-toggle:focus {
    /*background-color: orange;*/
}
/*.menu-toggle:focus + .main-menu {
    display:flex;
}*/

.menu-toggle {
    cursor: pointer;
}
/*sticky menü felülírások*/
.sticky {
    background:var(--lightColor);
    color: var(--darkTextColor);
    /*sticky*/
    position:fixed;
}
.sticky .main-menu > li > a {
    color: var(--darkTextColor);
}
.sticky .menu-toggle {
    color:var(--darkTextColor);
}

/*HERO rész*/
#hero {
    height: 100%;
    background:
            lightgrey
            url('https://picsum.photos/1920/1080')
            center
            no-repeat;
    background-size:cover;
    display:flex;
    align-items:center;
}
/* #hero > .container {
     height: 100%;
     display:flex;
     flex-direction:column;
     justify-content:center;
 }*/

.sectionTitle {
    text-align:center;

    /*sticky menu takarás megoldása a sectiontitle-ben*/
    padding-top: 70px;
}
.sectionTitle > .subTitle {
    font-weight: bold;
    color:var(--orange);
    display: inline-flex;
    margin:0 auto;
    align-items:center;
}
.sectionTitle > .subTitle:before,
.sectionTitle > .subTitle:after{
    content:'';
    height:2px;
    width:1.5em;
    background: var(--orange);
    display:inline-block;
    margin: 0 15px;
}
.sectionTitle h2 {
    text-transform:uppercase;
}
.sectionTitle > p {
    color: var(--darkTextColor);
}

/*szurke háttér segédclass*/
.greyBG {
    background: var(--lightGrey);
}
#about .flex-container > .box:first-child {
    flex:2;
}
/*skill*/

/*progress bars*/
.progress-bars > li {
    margin-bottom:15px;
}
.progress-bars .title {
    display:flex;
    justify-content:space-between;
    color:var(--darkTextColor);
    text-transform:uppercase;
    font-weight: bold;
}
.progress-bars .bar {
    height:15px;
    background: var(--baseTextColor);
}
.progress-bars .bar > .inner {
    background: var(--orange);
    height:15px;
}
/*footer*/
#skill > footer {
    text-align:center;
    font-weight: bold;
    color:var(--lightColor);
    padding:45px 0 15px;
    background: var(--darkTextColor);
}

#skill > footer .fa{
    font-size:2.5em;
}
#skill > footer .quantity {
    color:var(--orange);
    font-size:2em;
    margin:30px auto 15px;
}
#skill > footer p {
    color:var(--lightColor);
    font-size:1.5em;
    text-transform:capitalize;
}
/**swiper Testimonials**/
.swiper-container {
    width: 100%;
    padding-bottom: 40px;
    position: relative;
}

.holder {
    overflow: hidden;
    height: 300px;/**!!ez tartja a tartalom magasságot!!**/
    padding: 30px;
    background: deeppink;
}

.myHolder {
    position: absolute;
    width: 100%;
    height: 40px;
    background: pink;
    z-index: 10;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items:center;
}
.myPrev, .myNext {
    width: 40px;
    height: 40px;
    border-radius:40px;
    border:2px solid rgba(255,255,255,0.5);
    margin: 0 5px;
    background: orange;
    color: #fff;
    font-size:25px;
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}
/**Blog szekció**/
#blog article {
    display:flex;
    flex-direction: column;
}
#blog article > header {
    height:200px;
    background: grey center no-repeat;
    display:flex;
    justify-content:flex-end;
    position:relative;
    overflow: hidden;
}
#blog article > header > img {
    width:100%;
    height:100%;
    position:absolute;
    z-index:0;
    object-fit: cover;
    display:block;
    transition:all 500ms ease-in-out;
}
#blog article:hover > header > img {
    width:110%;
    height:110%;
    margin: -5%;
}

#blog article .comments {
    display:inline-block;
    color:var(--lightColor);
    font-weight: bold;
    background: var(--orange);
    padding:10px;
    align-self:flex-start;
    margin: 10px;
    position:relative;
    z-index:1;
}
#blog article h2 {
    font-size:1em;
    line-height:1.2em;
    margin: 0.5em 0;
    flex:1;
}
#blog article h2 a {
    text-decoration:none;
    color:var(--darkTextColor);
}
#blog article h2 a:hover {
    color:var(--orange);
}
#blog article > footer {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#blog article > footer > .author {
    background: var(--darkBlue);
    color: var(--lightColor);
    border-radius:40px;
    display:flex;
    align-items:center;
}
#blog article > footer  a {
    color: var(--lightGrey);
    text-decoration:none;
    display:inline-block;
    margin-right: 15px;
}
#blog article > footer > time {
    font-weight:bold;
    color:var(--darkBlue);
}
#blog article > footer > .author > img {
    width:45px;
    height: 45px;
    border-radius:40px;
    border:2px solid var(--lightColor);
    margin: 5px;
}




/*contact*/
.info {

}
.info > li {
    margin-bottom:15px;
}
.info > li > b {
    text-transform:capitalize;
    color: var(--darkTextColor);
    display:block;
}
.info a {
    color:var(--baseTextColor);
    transition: all 500ms ease-in-out;
}
.social a {
    color:var(--darkTextColor);
    display:inline-block;
    margin-right:5px;
    font-size:1.5em;
}
.info a:hover {
    color:var(--orange);
}
.contact-form > label:nth-child(3),
.contact-form > label:nth-child(4){
    grid-column: span 2;
}
.contact-form textarea {
    min-height:150px;
}



/*tablet*/
@media screen and (min-width: 860px) {
    body {
        /*background: yellow;*/
    }

    /*reszponzív konténer*/
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .flex-container {
        display:flex;/*mert alapból none...*/
        flex-direction:row;
        align-items:center;
    }
    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .grid-1-1 {
        grid-template-columns:1fr 1fr;
    }
    .grid-tablet-1-1-1 {
        grid-template-columns: repeat(3,1fr);
    }
    .menu-toggle {
        display:none;
    }
    .sectionTitle {
        margin:0 auto;
        width:70%;
    }
}

/*desktop*/
@media screen and (min-width: 1200px) {
    body {
        /*background: lime;*/
    }
    /*reszponzív konténer*/
    .container {
        width: 1200px;
    }
    .grid-1-1-1 {
        grid-template-columns: repeat(3,1fr);
    }
    .sectionTitle {
        width:60%;
    }
}
