* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:1200px;
}
.container {
    width: 800px;
    margin: 0 auto;
}

.myBox {
    margin: 50px 0;
    background: #d7d8fd;
    text-align:center;
}

.item {
    display: inline-block;
    width: 150px;
    height: 150px;
    border:1px solid #000;
    margin: 10px;
}
